# Ignore Mac system files
.DS_Store
.AppleDouble
.LSOverride

# windows
Thumbs.db
ehthumbs.db
Desktop.ini

# --- Gradle ---
.gradle/
build/

# --- IntelliJ Idea ---
.idea/
*.iws
*.iml
*.ipr
out/

# --- Executables ---
/build/

# 환경 변수
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# yaml
*.yml
*.yaml
!src/main/resources/application.yaml
!src/main/resources/application-dev.yaml
!src/main/resources/application-prod.yaml


# GitHub Actions workflows
!.github/workflows/*.yml


# logs
*.log
logs/
**/logs/**

# resources
/resources/
src/main/resources/*.zip
src/main/resources/static/
src/main/resources/project-monew-fe-v2-2.0.2/

